@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Trebuchet MS";
  src: url("./assets/fonts/trebuc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Trebuchet MS", sans-serif;
} */
